<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Surat Keputusan</title>
        <link rel="stylesheet" href="styles.css" />
    </head>

    <body>
        <div class="container">
            <div class="header">
                <h2>SURAT KEPUTUSAN DEKAN</h2>
                <h3>FAKULTAS TEKNIK UNIVERSITAS PASUNDAN</h3>
                <p>Nomor: 2948/UNPAS.FT-TIF.D/SK/Q/III/2024</p>
            </div>
            <div class="content">
                <h4>Tentang</h4>
                <h2>Pengangkatan Panitia Seminar Kualifikasi Penelitian</h2>
                <p>Dekan Fakultas Teknik Universitas Pasundan</p>
                <p><strong>Menimbang :</strong></p>
                <ol>
                    <li>
                        Bahwa salah satu syarat kelulusan untuk menjadi Sarjana
                        Teknik harus mengikuti dan lulus Seminar Kualifikasi
                        Penelitian;
                    </li>
                    <li>
                        Bahwa untuk maksud tersebut di atas perlu diangkat
                        Panitia Seminar Kualifikasi Penelitian yang ditetapkan
                        dengan Surat Keputusan Dekan.
                    </li>
                </ol>
                <p><strong>Mengingat :</strong></p>
                <ol>
                    <li>
                        Undang-Undang No.02 Tahun 2012 Tentang Sistem Pendidikan
                        Nasional;
                    </li>
                    <li>
                        Undang-Undang No.12 Tahun 2012 Tentang Pendidikan
                        Tinggi;
                    </li>
                    <li>
                        Peraturan Pemerintah No.04 Tahun 2014 Tentang
                        Penyelenggaraan Pendidikan Tinggi dan Pengelolaan
                        Perguruan Tinggi;
                    </li>
                    <li>
                        Peraturan Permendikbudristek nomor: 53 Tahun 2023
                        tentang Penjaminan Mutu Pendidikan Tinggi;
                    </li>
                    <li>
                        Keputusan Pengurus Yayasan Pendidikan Tinggi Pasundan
                        No.21/YPTP/A/2023 tentang Statuta Universitas Pasundan;
                    </li>
                    <li>
                        Surat Keputusan Rektor Universitas Pasundan
                        No.315/Unpas.R/SK/XII/2023 Tentang Pemberhentian dan
                        Pengangkatan Dekan di Lingkungan Universitas Pasundan
                        Masa Bakti 2023-2028.
                    </li>
                </ol>
                <p><strong>Memperhatikan :</strong></p>
                <ol>
                    <li>Surat Ketua Prodi Teknik Informatika;</li>
                    <li>Keputusan Pimpinan Fakultas Teknik.</li>
                </ol>
                <p>
                    <strong>Menetapkan :</strong> <br />
                    <strong>Memutuskan :</strong>
                </p>
                <p>
                    <strong>Pertama:</strong> Mengangkat Panitia Seminar
                    Kualifikasi Penelitian pada Semester GENAP tahun akademik
                    2023/2024 untuk menguji mahasiswa, sebagai berikut :
                </p>
                <p>
                    NPM / Nama : 193040102 / ROBY FATHUL HABIBIE<br />
                    Program Studi : Teknik Informatika<br />
                    Judul : PERANCANGAN USER INTERFACE SISTEM INFORMASI AKADEMIK
                    BERBASIS WEBSITE MENGGUNAKAN METODE USER CENTERED DESIGN
                    (STUDI KASUS: SMK BITEC AL MASHURIAH)
                </p>
                <p>Dengan susunan Panitia sebagai berikut:</p>
                <ul>
                    <li>Ketua : Dr. Ir. Leony Lidya, M.T</li>
                    <li>Sekretaris : ( kosong )</li>
                    <li>Anggota : Asep Somantri, S.T, M.T</li>
                    <li>Anggota : ( kosong )</li>
                </ul>
                <p>
                    <strong>Kedua:</strong> Menugaskan kepada Panitia tersebut
                    di atas untuk dapat melaksanakan tugasnya dengan penuh rasa
                    tanggung jawab sesuai dengan ketentuan yang berlaku;
                </p>
                <p>
                    <strong>Ketiga:</strong> Kepada Panitia tersebut di atas
                    diberikan honorarium sesuai peraturan yang berlaku di
                    Fakultas Teknik;
                </p>
                <p>
                    <strong>Keempat:</strong> Semua biaya ini dibebankan kepada
                    mahasiswa bersangkutan;
                </p>
                <p>
                    <strong>Kelima:</strong> Surat Keputusan ini mulai berlaku
                    sejak tanggal ditetapkan sampai dengan selesainya kegiatan
                    ini, dan semua ketentuan yang bertentangan dengan surat
                    keputusan ini dianggap tidak berlaku, dengan ketentuan
                    bilamana didalamnya terdapat kesalahan dan atau kekeliruan
                    akan diperbaiki sebagaimana mestinya.
                </p>
            </div>
            <div class="footer">
                <p>
                    ditetapkan di Bandung<br />
                    pada tanggal: 01-04-2024<br />
                    Dekan Fakultas Teknik,
                </p>
                <p>
                    ( Prof. Dr. Ir. Yusman Taufik, M.P )<br />
                    NPIY: 15110230
                </p>
                <p><strong>Tembusan kepada :</strong></p>
                <ol>
                    <li>Ketua Prodi Teknik Informatika</li>
                    <li>Yang Bersangkutan</li>
                    <li>Pertinggal</li>
                </ol>
            </div>
        </div>
    </body>
</html>

<!-- !html2 -->
